.create_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  margin-top: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  width: 400px;
  height:65%;
  background-color:#fff;
}

.create_input {
  display: flex;
  width: 70%;
  padding: 10px;
  margin: 10px;
  border:#dadada 1px solid;
}

.create_label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

::placeholder {
  padding-left: 30px;
  font-size: 12px;
}

.btn_login.create {
  width: 40%;
  background-color: #fff;
  color: #000;
  font-size: 14px;
}


