@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.mb-4 {
    display: flex;
    position:absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: rgba(237, 218, 7, 0.7);
}

.main_container {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}

/*
.cart {
    padding: 20px 20px;
    margin: 20px;
    background: #fff;
    border: none;
    border-radius: 3px;
    color: #3a3a3a;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #e7e7e7;
    background: #fff;
    transition: 6.3s ease-in-out;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.7),
                 3px 3px 5px #b2b1b1;
}


.cart:hover {
    background: #fff;
    box-shadow: inset -3px -3px 7px #fff,
                inset 3px 3px 5px #b2b1b1;
}
*/

/*.btn_cart {
    padding: 10px 20px;
    margin: 10px;
    background: #fff;
    border: none;
    border-radius: 3px;
    color: #3a3a3a;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #e7e7e7;
    background: #fff;
    transition: 6.3s ease-in-out;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 0.7),
                 3px 3px 5px #b2b1b1;
}


.btn_cart:hover {
    background: #fff;
    box-shadow: inset -3px -3px 7px #fff,
                inset 3px 3px 5px #b2b1b1;
}


.btn_login {

    padding: 10px 20px;
    margin: 20px 0;
    background-color: rgba(237, 218, 7, 0.8);
    border: none;
    border-radius: 3px;
    color: #626262;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 6.3s ease-in-out;
    box-shadow: -3px -3px 7px rgba(216, 216, 216, 0.7),
                 3px 3px 5px #b2b1b1;
}

.btn_login:hover {
    background: #fff;
    box-shadow: inset -3px -3px 7px #fff,
                inset 3px 3px 5px #b2b1b1;
}*/

.nav-link .welcome {
    color: #208077;
}

.hem,
.products {
    padding: 15px 10px;
    margin: 30px;
}


.navbar-light .navbar-nav .nav-link {
    color: #3a3a3a;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #669590;
}

