/* TEXTER */
.product_namn {
    color: #3a3a3a;
    margin: 15px 0;
}

h1 {
    font-size: 4vw;
    margin-bottom: 3%;
    margin-top: 5%;
}

h4 {
    margin-bottom: 0;
    margin-left: 15px;
    color: #fff;
    font-weight:bold;
    font-size: 20px;
}


.pris_p {
    margin-bottom: 10px;
    margin-top: 30px;
    color: #E97673;
    font-size: 1.2vw;
}

/* LAYOUTEN */

.product_list {
    margin-top: 10%;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn_buy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    background-color: #E97673;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}

.btn_buy:hover {
    background-color: #fff;
    color: #E97673;
    border: 1px solid #E97673;
}

.search_select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 15px;
    border: 1px solid #E97673;
    background-color:#E97673;
    margin-bottom: 7%;
}

select {
    border: 1px solid #E97673;    
    padding: 10px 15px;
    margin: 10px;
    min-width: 300px;
    border-radius: 5px;
    color: #989898;
}


.search_input {
    padding: 9px 15px;
    margin: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #E97673;
}


::placeholder {
    color: #989898;
}

select option {
    color: #E97673;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 360px;
    min-height: 60vh;
    padding: 50px;
    border: 1px solid #E97673;
    /* background: #fff;
    box-shadow: -3px -3px 7px #fff,
                 3px 3px 5px #b2b1b1; */
}

.card:hover {
    border: 2px solid #E97673;
}

.ms-3 {
    max-width:120px;
    margin-top: 10px;
}
