@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

.productDetail {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10%;
}

h1 {
    font-family: 'Russo One', sans-serif;
    color: #3a3a3a;
    text-align: center;
    padding: 10px 0;
}

.mt-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    letter-spacing: 2.5px;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 65px;
    margin: 5px 0 10px 0;
    background-color: #E97673;
    border: none;
    color: #fff;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #E97673;
    border: 1px solid #E97673;
}

a {
    text-decoration: none;
}

.col {
    margin-top: 20px;
}

