@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

.productDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 4%;
    width:70%;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #3a3a3a;
    text-align: center;
}

p {
    margin: 20px;
    padding: 25px;
    text-align: justify;
}


.mt-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.detail_btn {
    width: 200px;
}


/* .btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 65px;
    margin: 5px 0 10px 0;
    background-color: #E97673;
    border: none;
    color: #fff;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #E97673;
    border: 1px solid #E97673;
} */

a {
    text-decoration: none;
}

.col {
    margin-top: 10px;
}

.me-6 {
    padding: 10px 15px;
    color: #a3a3a3;
    border: 1px solid #a3a3a3;
}
