.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  

  
}
